 @media (min-width: 481px) and (max-width: 768px){
    .container{
        width: 94%;
        margin: auto;
    }
    /***********************
           first section
    ************************/
    .first-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 80px 20px 80px 40px;
    }
    .f-s-left {
        padding: 0px 0px 0px 0px;
    }

    .f-s-left h1{
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
    }
    .f-s-left p{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #FFFFFF;
        margin: 20px 42px 50px 0px;
    }
    .f-s-right img{
        width: 365px;
        position: absolute;
        bottom: -231px;
        left: -35px;
    }
    /***********************
            second section
    ************************/
    .second-cotent{
        display:block;
        
    }
    .event{
        background-color: #FFFFFF;
        margin: 0px 0px 30px 0px;
        padding: 20px 10px;
        border-radius: 10px;
        transition: 0.2s;
        border: 1px solid gray;
    }
    .s-c-left{
        background-color: transparent;
        text-align: center;
        border-radius: 10px;
    }
    .s-c-l-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 20px;
    }
    .event a{
        color: #161616;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .blog{
        background-color: #DD0000;
    }
    .blog a, .blog i{
        color: #ffffff;
    }

    .s-c-right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .blog-item .text>p{
        margin-top: 20px; 
    }
    .tablet{
        display: none;
    }
    .hidden-button{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .hidden-button .button{
        color: orange;
        background-color: #161616;
        border: transparent;
    }
    /***********************
            footer
    ************************/
    .footer-content ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
    }


}



/****************************

        Mobile device

****************************/
@media (min-width: 320px) and (max-width: 480px){
    .container{
        width: 94%;
        margin: auto;
    }
    /***********************
           First Section
    ************************/
    .first-content {
        display: block;
        /* grid-template-columns: auto; */
        background-color: #161616;
        border-radius: 30px;
        align-items: center;
    }
    .f-s-left {
        padding: 50px 38px 0px 38px;
        text-align: center;
    }
    .f-s-left h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
    }
    .f-s-left p {
        font-size: 14px;
        line-height: 22px;
    }
    .f-s-right{
        text-align: center;
        margin-top: 60px;
    }
    .f-s-right img {
        width: unset;
        position: unset;
    }

    /***********************
            second section
    ************************/
    .second-cotent {
        display: block;
    }
    .s-c-left {
        background-color: transparent;
        text-align: center;
    }
    .s-c-l-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .event {
        padding: 15px 55px;
        border: 1px solid gray;
        width: fit-content;
    }
    .s-c-right {
        display: grid;
        grid-template-columns: auto;
    }

/***********************
            footer
    ************************/
    .footer-content ul {
        flex-direction: column;
        row-gap: 40px;
    }
    
    /* margin-top: 40px; */
    .footer-content .icons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
}